body::-webkit-scrollbar {
  display: none;
}

.ground-container {
  bottom: 0;
  left: 0;
  width: 100%;
}

.grass,
.dirt,
.stone {
  width: 100%;
  background-size: 40px;
  image-rendering: pixelated; /* Keeps Minecraft blocks effect */
  position: relative;
}

.grass {
  margin-top: 320px;
  background-image: url(./minecraft_block_textures/Grass_Block.png);
  background-repeat: repeat-x;
  height: 40px;
}
.dirt {
  height: 200px;
  background-image: url(./minecraft_block_textures/Dirt_Block.png);
  background-repeat: repeat;
}

.stone {
  height: 280px;
  background-image: url(./minecraft_block_textures/Stone_Block.png);
  background-repeat: repeat;
}
